<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido NFL</title>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'jugadores' %}">Jugadores</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'equipos' %}">Equipos</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'estadios' %}">Estadios</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'owner' %}">Owner</a>
        </div>
      </nav>
    </div>
</head>
<br>
<br>
<body>
    <div class="panel-header panel-header-sm">
    </div>
    
    <div class="content">
      <div class="row">
    
        <div class="col-md-3">
        </div>
    
        <div class="col-md-6">
          <div class="card">
    
              <div class="card-header">
                  <h4 class="card-title">Editar Owner</h4>
              </div>
              
              <div class="card-body">
    
                  <form id="form" action="" method="POST" class="form">
                    {% csrf_token %}
    
                      <div class="card mb-4 text-center">
    
                          <div class="card-body text-left">
    
                              {{ form.as_p }}
                              
                              <div class="container text-end">
                                  <button type="button" id="Guardar" class="btn btn-primary">Editar</button>
                              </div>
    
                          </div>
    
                      </div>
    
                  </form>
    
              </div> 
          </div>
        </div>

    
        <div class="col-md-3">
        </div>
        
      </div>
    </div>
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</body>
</html>