<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido NFL</title>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'jugadores' %}">Jugadores</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'equipos' %}">Equipos</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'estadios' %}">Estadios</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'owner' %}">Owner</a>
        </div>
      </nav>
    </div>
</head>
<br>
<br>
<body>
    <div class="panel-header panel-header-sm">
    </div>
    
    <div class="content">
        <div class="row">
           
            <div class="col-md-4">
                <div class="card">
    
                    <div class="card-header">
                        <h4 class="card-title">Registrar Estadio</h4>
                    </div>
                    
                    <div class="card-body">
    
                        <form action="" method="POST" class="form">{% csrf_token %}
    
                            <div class="card mb-4 text-center">
    
                                <div class="card-body text-left">
    
                                    {{ form.as_p }}
                                    
                                    <div class="container text-end">
                                        <button type="submit" class="btn btn-primary">Registrar</button>
                                    </div>
    
                                </div>
    
                            </div>
    
                        </form>
    
                    </div> 
    
                </div>
    
            </div>
            
            <div class="col-md-8">
                <div class="card">
    
                    <div class="card-header">
                        <h4 class="card-title">Estadio Registrados</h4>
                    </div>
    
                    <div class="card-body">
    
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Número</th>
                                        <th>Nombre</th>
                                        <th>Capacidad</th>
                                        <th class="text-center">Editar</th>
                                        <th class="text-center">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in Estadio%}
                                        <tr>
                                            <td class>{{e.id}}</td>
                                            <td>{{e.nombre}}</td>
                                            <td>{{e.capacidad}}</td>

                                            <td class="text-center"><a href="{% url 'editarEstadios' pk=e.id %}" class="btn btn-primary btn-round btn-icon btn-sm">
                                                <i class="now-ui-icons ui-2_settings-90"></i></a></td>
                                                <td class="text-center"><a href="{% url 'eliminarEstadios' pk=e.id %}" class="btn btn-danger btn-round btn-icon btn-sm">
                                                    <i class="now-ui-icons ui-2_settings-90"></i></a></td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>                            
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</body>
</html>
