<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido NFL</title>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'jugadores' %}">Jugadores</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'equipos' %}">Equipos</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'estadios' %}">Estadios</a>
        </div>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'owner' %}">Owner</a>
        </div>
      </nav>
    </div>
</head>
<body>

  <h1 style="text-align: center;">WELCOME TO NFL</h1>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</body>
</html>